body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
    background-color: #402fd4;
}

.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding-top:70px;
    margin:0px auto;
    background: #ffc0cbe3;
}

body {
	font-family: "Cantarell"; 
}

div {
	text-align: justify;
	font-size: 20px;
  }
.div-1 {
	background-color: #ffe4e1;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

table-dark-color
table-dark-bg
table-dark-border-color

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.ol {
	list-style: lower-alpha;
}
